input[type='email'], input[type='password'] {
  padding:2px 5px;
  width:100%;
}

.main_container{
  margin-left:200px;
}

.container_top_btn{
  right:20px;
  position: absolute;  
}

.navbar{
  align-items: flex-start;
  bottom:0;
  top:0;
  padding:0px;
  font-family: serif
}


.navbar a{
  text-decoration: none;
  color:#707070;
}

.navbar-brand{
  font-weight: bold;
  margin-right:30px;
  font-size: 22px;
  padding:10px 20px;
}

.navbar-brand:hover{
  color:#574848;
}

.navbar-toggler-icon{
  background-image: url("https://cdn0.iconfinder.com/data/icons/user-interface-151/24/List_menu_toggle-512.png");
}

.dropdown:hover .dropdown-menu{
  display:block;
}

.nav-item{
  font-size: 16px;
  padding:14.5px;
  margin-left:10px
}

.nav-item:hover{
  color: #574848;
  
}

.loggedin_text{
  margin:5px 10px;
  text-align: right;
}

.input_container{
  margin:10px 20px;
}

.font_weight_bold{
  font-weight: bold;
}

.font_14px{
  font-size:14px;
}

.font_16px{
  font-size:16px;
}

.btnSignIn{
  background-color:#574848;
  color: white;
}

.btnSignIn:hover{
  cursor: pointer;
  background-color: #7E6666;
  color: white;

}

.float_right{
  float:right;
}

.float_left{
  float:left;
}

.Red-Text{
  color:red;
}

.login-form{
  margin:10% 35%;
  font-family: serif;
  color:#574848
}

.maintable{
  width:95%;
  margin-top:20px;
  margin-bottom:20px;
}

.maintable a{
  text-decoration: none;
}

.maintable td{
  padding:5px;
}

.selected_col_left{
  border-top: #707070 1px solid;
  border-right: #707070 1px solid;
}

.not_selected_col_right{
  border-left: #707070 1px solid;
  border-bottom: #707070 1px solid;
}

.filter{
  font-size:18px;
  display:inline-block;
  width:98%;
  text-align:center;
  margin:1%;
}

.filter_container{
  display:inline-block;
  margin:0px 20px;
  padding-top:10px;
  
}

.filter_container select{
  left:10px;
  min-width:75px;
  padding-left:5px;
}

.filter_container input{
  left:10px;
  min-width:150px;
  padding-left:5px;
}

.subtable{
  width:95%;
  text-align: center;
}

.subtable td,th{
  border:black 1px solid;
}

.subtable th{
  background-color: #B29B9B;
}

.subtable img{
  width:50px;
}

.modal{
  overflow:scroll;
  display:block;
  background-color: rgba(0,0,0,0.4); 

}
.modal-dialog{
  overflow:hidden;
}

.modal-body{
  
  overflow:hidden;
  display:block;
}

.modal-body input{
  margin-right:10px;
}

.category-menu a{
  text-decoration: none;
  padding:10px;
  font-size:14px;
  
}

.category-menu{
  font-family: serif;
}

.category-menu-item-active{
  background-color: #574848;
  color:white;
}

.category-menu-item-active:hover{
  background-color: #7E6666;
  color:white;
}

.category-menu-item-deactive{
  background-color: white;
  color:#574848;
}

.category-menu-item-deactive:hover{
  background-color: #EFECEC;
  color:#574848;
}

.category-table{
  background-color: #7E6666;
  color:white;
  font-size: 14px;
  
}

.category-table tr,th,td{
  border:1px solid white;
}

.border-white{
  border:1px solid white;
}

.addBtn{
  background-color: #FFBF21;
  color:black;
  font-size: 14px;
  
}

.paging-container div{
  color:white;
  padding:5px;
  border-radius: 10px;
  margin:5px;
  cursor: pointer;
  font-size: 16px;
  box-sizing: content-box
}

.paging-selected{
  background-color: #B29B9B
}

.paging-not-selected{
  background-color: #574848
}


.add-cat-popup{
  margin:20px 15%;
  width:70%;
  font-family: serif;
}

.add-cat-popup-body .card{
  display:block
}

.add-cat-form h6{
  font-weight: bold;
  margin-top:10px
}

.category-img{
  width:100px;
  height:100px;
}

.btn-update{
  background-color: green;
  color:white;
}

.btn-delete{
  background-color: #B22222;
  color:white;
}

.btn-delete:hover{
  background-color: 	#DC143C;
  color:white;
}

.btn-update:hover{
  background-color: 	#228B22;
  color:white;
}

@media screen and (max-height:500px){
  .login-form{
    margin:0% 30%;
  }
}